.new {
    width: 100%;
    display: flex;
  
    .newContainer {
      flex: 6;
  
      .top,
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
  
        h1 {
          color: gray;
          font-size: 20px;
        }
  
        .left {
          flex: 1;
          text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: center;
          
            .clear{
            width: 20%;
            height:30px;
            border-radius: 5px;
            background-color: rgb(232, 3, 64);
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
  
        .right {
          flex: 2;
            
          form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;

            .formInput{
                width: 40%;

              label {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 700;
                font-size: large;
                .icon {
                  cursor: pointer;
                    color: grey;
                }
              }
  
              input {
                width: 100%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
                font-size: medium;
              }
            }
  
            button {
            width: 150px;
             padding: 10px;
             background-color: teal;
             color: white;
             cursor: pointer;
             border-radius: 5px;
             margin-top: 10px;
             border: none;
             font-weight: bold;
             font-size: medium;
            }
          }
        }
      }
    }
  }